
// ==========================================================================
// Helpers
// ==========================================================================

%hidden {
    /*
     * Hide visually and from screen readers:
     * http://juicystudio.com/article/screen-readers-display-none.php
     */
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}

%invisible {
    /*
    * Hide visually and from screenreaders, but maintain layout
    */
    visibility: hidden;
}

%clearfix {
    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before, &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    *zoom: 1;
}

/**
 * Cross browser support for word wrapping
 * Reference: http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
 */
%word-wrap {
    -ms-word-break: break-all;
        word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}


/* Visibility
   ========================================================================== */

.visuallyhidden {
    @extend %visuallyhidden;
}

.hidden {
    @extend %hidden;
}


/* Hidden
   ========================================================================== */

.hide-on-mobile {
    @include mq( $until: tablet ) {
        display: none !important;
    }
}

.hide-on-desktop {
    @include mq( $from: tablet ) {
        display: none !important;
    }
}

/* Corners
   ========================================================================== */

.rounded-corner, .rounded-corners {
    border-radius: 4px;
}

.rounded-corners-large {
  border-radius:30px !important;
}

/* Borders
   ========================================================================== */

.border {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border: 1px solid $alto;
    &.border--dark {
        border-color: $chateau;
    }
}

.border--bottom {
    border-top: none;
    border-right: none;
    border-left: none;
}

.border--top {
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.border--right {
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.border--right--desktop {
    @include mq( $from: tablet ) {
		border-bottom: none;
		border-left: none;
		border-top: none;
    }
}

.no-border-on-mobile {
	@include mq( $until: tablet ) {
		border: none !important;
	}
}

.border-radius {
    border-radius: 4px;
}


/* Text Formatting
   ========================================================================== */


.fine-print {
    @include rem( 'font-size', 12px );
}

.text-accent {
    @include rem( 'font-size', 22px );
}

.text-accent--desktop {
    @include mq( $from: tablet ) {
		@include rem( 'font-size', 22px );
    }
}

.text-center {
    text-align: center;
}

.text-center--mobile {
    @include mq( $until: tablet ) {
        text-align: center;
    }
}

.text-center--desktop {
    @include mq( $from: tablet ) {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-right--mobile {
    @include mq( $until: tablet ) {
        text-align: right;
    }
}

.text-right--desktop {
    @include mq( $from: tablet ) {
        text-align: right;
    }
}

.text-left {
    text-align: left;
}

.text-left--mobile {
    @include mq( $until: tablet ) {
        text-align: left;
    }
}

.text-left--desktop {
    @include mq( $from: tablet ) {
        text-align: left;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}

.text-small {
    @include mq( $from: tablet ) {
        @include rem( 'font-size', 13px );
    }
}

.text-white {
    color: white !important;
}
.text-off-white {
    color: $off-white !important;
}
.text-off-white-like-background {
    color: lighten( $mercury, 2% ) !important;
}
.text-gray {
    color: $gray !important;
}
.text-pom {
    color: $pomegranate !important;
}
.text-spruce {
    color: $spruce !important;
}

.inactive-link {
	pointer-events: none !important;
	cursor: default !important;
}

// pattern library use only
p.nav-ex {
    color: $spruce;
    font-weight: 200;
}

.view-all-link {
    font-family: $font-family;
    @include rem( 'font-size', 16px );
}

.view-more {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-family: $font-family;
    @include rem( 'font-size', 13px );

    i {
        font-weight: 600;
        @include rem( 'font-size', 8px );
    }
}

.attention {
	@include rem( 'font-size', 12px );
	color: #c51313;
	text-transform: uppercase;
}


/* Indent
   ========================================================================== */
.indent-s {
  text-indent: 1em;
}

.indent-d {
  text-indent: 2em;
}


/* Alignment
   ========================================================================== */

.pull-center {
    margin: 0 auto;
    display: block;
	&--desktop {
		@include mq( $from: tablet ) {
			margin: 0 auto;
			display: block;
		}
    }
	&--mobile {
		@include mq( $until: tablet ) {
			margin: 0 auto;
			display: block;
		}
    }
}

.pull-left {
    float: left;
	&--desktop {
		@include mq( $from: tablet ) {
			float: left;
		}
    }
	&--mobile {
		@include mq( $until: tablet ) {
			float: left;
		}
    }
}

.pull-right {
    float: right;
	&--desktop {
		@include mq( $from: tablet ) {
			float: right;
		}
    }
	&--mobile {
		@include mq( $until: tablet ) {
			float: right;
		}
    }
}

.alignleft {
    @include mq( $from: tablet ) {
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        display: inline;
        float: left;
    }
}

.alignright {
    @include mq( $from: tablet ) {
        margin-left: 1.5em;
        margin-bottom: 1.5em;
        display: inline;
        float: right;
    }
}

.aligncenter {
    @include mq( $from: tablet ) {
        clear: both;
        display: block;
        margin: 0 auto;
    }
}

.valign-t {
	vertical-align: top !important;
}

.valign-m {
	vertical-align: middle !important;
}

.valign-b {
	vertical-align: bottom !important;
}


/* Lists
   ========================================================================== */
.no-bullets {
    padding: 0;
    list-style-type: none;
}
.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    //list-style: inside disc;
		li:first-child {
			margin-top: 0;
		}
    /*li {
        padding-left: 1em;
        text-indent: -1em;
    }*/

	&--desktop {
		@include mq( $from: tablet ) {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			-ms-column-count: 2;
			column-count: 2;
		}
		li:first-child {
			margin-top: 0;
		}
	}

	&--mobile {
		@include mq( $until: tablet ) {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			-ms-column-count: 2;
			column-count: 2;
		}
		li:first-child {
			margin-top: 0;
		}
	}
}

.three-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;

	li:first-child {
		margin-top: 0;
	}

	&--desktop {
		@include mq( $from: tablet ) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			-ms-column-count: 3;
			column-count: 3;
		}
		li:first-child {
			margin-top: 0;
		}
	}
	&--mobile {
		@include mq( $until: tablet ) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			-ms-column-count: 3;
			column-count: 3;
		}
		li:first-child {
			margin-top: 0;
		}
	}
}

.four-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    column-count: 4;

	li:first-child {
		margin-top: 0;
	}

	&--desktop {
		@include mq( $from: tablet ) {
			-webkit-column-count: 4;
			-moz-column-count: 4;
			-ms-column-count: 4;
			column-count: 4;
		}
		li:first-child {
			margin-top: 0;
		}
	}
}


/* Horizontal Rules
   ========================================================================== */

.hr--dashed {
    border-top: 1px dashed $alto;
}


/* Backgrounds
   ========================================================================== */

// For zebra striping
.background--odd {
  //background-color: lighten( $mercury, 2% ) !important;
  background-color: #f6f6f6;
}
.background--even {
  //background-color: darken( $mercury, 4% );
  background-color: #e4e9eb;
}

.message--dark,
.background--dark {
    background-color: $spruce !important;
    &.text-white {
        > * {
            color: white;
        }
    }
}

.message-off-white,
.background-off-white {
    background-color: lighten( $mercury, 2% ) !important;
}

.message-off-white-darker,
.background-off-white-darer {
    background-color: darken( $mercury, 4% );
}

.message-white,
.background-white {
    background-color: white !important;
}

.message--cerulean,
.background--cerulean {
    background-color: $cerulean !important;
}

.message--science,
.background--science {
    background-color: $science !important;
}

.message--sunshade,
.background--sunshade {
    background: $sunshade !important;
}

.message--robin,
.background--robin {
    background: $robin !important;
}

.message--westar,
.background--westar {
    background: $westar !important;
}

.message--off-white,
.background--off-white {
    background: $off-white !important;
}

.message--riptide,
.background--riptide {
  background: $riptide !important;
}

.message--texasrose,
.background--texasrose {
  background: $texasrose !important;
}

.message--manz,
.background--manz {
  background: $manz !important;
}

// Overlays
.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(55, 66, 74, 0.5);
}


/* Gradient
   ========================================================================== */
%black-gradient {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 75%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 75%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 75%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 75%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 75%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}

%white-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.9+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

@mixin gray-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d4d4d4+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d4d4d4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d4d4d4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d4d4d4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d4d4d4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}


/* Widths by Percentage
   ========================================================================== */
.width-25 {
	width: 25% !important;
}

.width-33 {
	width: 33.3333333333% !important;
}

.width-50 {
	width: 50% !important;
	&--mobile {
		@include mq( $until: tablet ) {
			width: 50% !important;
		}
  }
}

.width-66 {
	width: 66.6666666666% !important;
}

.width-75 {
	width: 75% !important;
}

.width-100 {
	width: 100% !important;
	&--mobile {
		@include mq( $until: tablet ) {
			width: 100% !important;
		}
  }
}

/* Images
   ========================================================================== */

.img-left { /* apply to element containing img, typically a <div> or <p> */
	@include mq( $until: tablet ) {
		width: 100% !important;
		text-align: center;
		margin-bottom: 1em;
	}
	@include mq( $from: tablet ) {
		float: left;
		margin: 0 1em 1em 0;
	}
}

.img-right { /* apply to element containing img, typically a <div> or <p> */
	@include mq( $until: tablet ) {
		width: 100% !important;
		text-align: center;
		margin-bottom: 1em;
	}
	@include mq( $from: tablet ) {
		float: right;
		margin: 0 0 1em 1em;
	}
}

.photo-credit {
	text-align: right;
	line-height: 1.5;
	font-size: .6rem;
	padding: .5em;
	margin: 0;
}

/* Vertical centering inside flexbox
   ========================================================================== */

.l-flex-center-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em !important;

	&--desktop {
		@include mq( $from: tablet ) {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 1em !important;
		}
	}
}

.l-flex-center {
    display: flex;
    align-items: center;

	&--desktop {
		@include mq( $from: tablet ) {
            display: flex;
            align-items: center;
		}
	}
}