
// ==========================================================================
// Typography
// ==========================================================================

/**
 * Type uses Modular Scale - Major Third (1.250)
 * http://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: .5em 0;
    color: $spruce;
    font-weight: normal;
    font-family: $font-family-secondary;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  line-height: 1.3;
}

h1, .h1 {
    @include rem( 'font-size', 36px ); // 2.441em
}

h2, .h2 {
    font-weight: 600;
    @include rem( 'font-size', 27px ); // 1.953em
}

h3, .h3 {
    @include rem( 'font-size', 24px ); // 1.563em
}

h4, .h4 {
    font-weight: 600;
    @include rem( 'font-size', 16px ); // 1.25em
}

h5, .h5 {
    @include rem( 'font-size', 16px ); // 1.125em
}

h6, .h6 {
    @include rem( 'font-size', 16px ); // 1em
}

p {
    line-height: 1.5;
    margin: 0 0 .75em;
}

html,
button,
input,
select,
textarea {
    font-family: $font-family;
    color: $font-color;
}

a {
    text-decoration: underline;
    color: $link-color;
    @include transition-property( color, background, border );
    @include transition-duration( .15s );
    &:hover {
        color: lighten( $link-color, 10% );
    }
}

blockquote {
    margin: 0;
    color: $font-color;
    // font-style: italic;
    // font-family: $font-family-secondary;
    @include rem( 'font-size', 18px );
    .author {
        margin: 1em 0;
        color: $font-color;
        display: block;
        font-weight: 600;
        text-align: right;
        font-style: normal;
        font-family: $font-family;
        text-transform: uppercase;
        @include rem( 'font-size', 12px );
    }
}

ul {
    margin: .75em 0;
    list-style-type: disc;
    ul {
        list-style-type: circle;
    }
}

ol {
    margin: .75em 0;
}
li {
    margin: .5em 0;
}
dt {
    margin-bottom: .3em;
    font-weight: bold;
}

dd {
    margin: 0 0 .75em 0;
}





/* Heading
   ========================================================================== */

.heading {}

.heading--center {
    text-align: center;
}

.heading--right {
    text-align: right;
}

.heading--trim {
    margin: 0;
}

.heading--snug {
    margin-top: 0;
}

.heading--light {
    color: white;
}

.heading--normal {
    text-transform: none;
}





/* Subheadline
   ========================================================================== */

.subheading {
    color: lighten( $cerulean, 15% );
    @include rem( 'font-size', 20px );
    font-family: $font-family-secondary;
}



/* Formatting
   ========================================================================== */

.fine-print {
    @include rem( 'font-size', 12px );
}

.text-accent {
    @include rem( 'font-size', 22px );
}
