
// ==========================================================================
// Grid
// ==========================================================================

/* Grid
   ========================================================================== */

.row {
    @extend %clearfix;
}

.row--center {
    .columns {
        margin: 0 auto;
        float: none;
    }
}

.columns {
    min-height: 1px;
    @include mq( $from: tablet ) {
        position: relative;
        float: left;
    }
}

/**
 * Float last column in row to the right
 */
[class*="grid__col"] + [class*="grid__col"]:last-child {
    @include mq( $from: mobile-landscape ) {
        float: right;
    }
}


/**
 * Output column classes
 */
$classes: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;

// Small columns begin from mobile
@for $i from 1 through 12 {

    $class: nth( $classes, $i );
    
    @media only screen {
        .sm-#{$class} {
            @include span( $i );
            &.no-gutters {
                @include mq( $from: tablet ) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

}

// Large columns for tablet and up viewport widths
@for $i from 1 through 12 {

    $class: nth( $classes, $i );

    @include mq( $from: tablet ) {
        .#{$class} { 
            @include span( $i );
            &.no-gutters {
                @include mq( $from: tablet ) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

// Offsets
@for $i from 1 through 12 {

    $class: nth( $classes, $i );

    .push-#{$class} {
        @include pre( $i );
    }

    .pull-#{$class} {
        @include post( $i );
    }
}