
// ==========================================================================
// Buttons
// ==========================================================================

%btn {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    position: relative;
    line-height: normal;
    padding: .75em 2em;
    display: inline-block;
    text-decoration: none;
    background-color: $cerulean;
    @include transition-property( color, background, border );
    @include transition-duration( .15s );
}


/* Main
   ========================================================================== */

.btn {
    @extend %btn;

    &:hover {
        color: white;
        text-decoration: none;
        background-color: lighten( $cerulean, 10% );
    }

    i {
        padding: .4em;
        font-weight: 600;
        color: $cerulean;
        background: white;
        border-radius: 50%;
        text-align: center;
        margin-right: .5em;
        display: inline-block;
        vertical-align: middle;
    }

    .icon-chevron-right,
    .icon-chevron-left {
        padding: 0;
        color: white;
        font-size: 150%;
        border-radius: 0;
        background: transparent;
        vertical-align: sub;
        line-height: .4;
    }

}

.btn--outline {
    color: $cerulean;
    border: 1px solid $cerulean;
    background-color: transparent;
    &:hover {
        color: white;
        background-color: $cerulean;

        i {
            color: white;
        }
    }

    i {
        color: white;
        background: $cerulean;
    }

    i.icon-chevron-left,
    i.icon-chevron-right {
        color: $cerulean;
    }

    &:hover {
        i.icon-chevron-left,
        i.icon-chevron-right {
            color: white;
        }
    }
}


.btn--primary {
    background-color: $cerulean;
    color: white;
    &:hover {
        background-color: lighten( $cerulean, 10% );
    }
}

.btn--secondary {
    background-color: $sunshade;
    &:hover {
        background-color: lighten( $sunshade, 10% );
    }
    i {
        color: $sunshade;
    }
}

.btn--tertiary {
    background-color: $font-color;
    &:hover {
        background-color: lighten( $font-color, 10% );
    }
    i {
        color: $font-color;
    }
}

.btn--icon {
    padding: 1em;
    text-align: left;

    .icon-chevron-right,
    .icon-chevron-left {
        color: white;
    }

    .icon-chevron-right {
        padding: 0;
        color: white;
        float: right;
        line-height: 1;
        border-radius: 0;
        background: transparent;
    }
}


/* Icons
   ========================================================================== */

.btn--icon-left,
.btn--icon-right {
    position: relative;

    .icon-chevron-left,
    .icon-chevron-right {
        position: absolute;
        top: 50%;
        @include transform( translateY( -50% ) );
    }
}

.btn--icon-left {
    padding-left: 3.5em;

    i {
        margin: 0 0 0 .5em;
    }

    .icon-chevron-left {
        left: .75em;
        margin: 0;
    }
}

.btn--icon-right {
    padding-right: 3.5em;

    .icon-chevron-right {
        right: 0.75em;
        margin-right: 0;
    }
}


/* Sizes
   ========================================================================== */

.btn--xs {
    font-size: 55%;
}

.btn--sm {
    font-size: 70%
}

.btn--md {
    font-size: 85%;
}

.btn--lg {
    font-size: 115%;
}

.btn--xl {
    font-size: 130%;
}





/* Shapes
   ========================================================================== */

.btn--round {
    border-radius: 3px;
}

.btn--oval {
    border-radius: 500px;
}

.btn--pill-right {
    border-radius: 500px 0 0 500px
}

.btn--pill-left {
    border-radius: 0 500px 500px 0;
}





/* Width
   ========================================================================== */

.btn--wide {
    width: 100%;
}

.btn--half {
    width: 50%;
}

.btn--third {
    width: 33.33333%;
}



/* Colors
   ========================================================================== */

.btn--success {
    background-color: $success;
    color: white;

    &:hover {
        background-color: darken( $success, 10% );
        color: white;
    }
}

.btn--warning {
    background-color: $warning;
    color: white;

    &:hover {
        background-color: darken( $warning, 10% );
        color: white;
    }
}

.btn--error {
    background-color: $error;
    color: white;

    &:hover {
        background-color: darken( $error, 10% );
        color: white;
    }
}





/* Disabled
   ========================================================================== */

.btn[disabled],
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:focus,
.btn--disabled:active {
    background-color: $alto;
    background-image: none;
    box-shadow: none;
    border: 0;
    opacity: .4;
    cursor: not-allowed;
    color: $gray;
}
