.leave-feedback {
	@media print {
		display: none;
	}
  @include clearfix;
  background:$off-white;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding:10px;
  position:fixed;
  left:100%;
  top:50%;
  -webkit-transform:translateY(-40%); 
  transform:translateY(-40%); 
  transition: left 1s, border 1s;
  width:280px;
  z-index:1000000;
  font-family: $font-family;

  @include mq(mobile) {
    padding:20px 25px;
    width:290px;
  }

  @include mq( $until: tablet) {
    top: 120px;
  }

  &.is-visible {
    border-color: $mercury;
    left:calc(100% - 280px);
    
    @include mq(mobile) {
      left:calc(100% - 290px);
    }
  }

  @include mq(tablet) {
    width:500px;
    
    &.is-visible {
      left:calc(100% - 500px);
    }
  }
  &__link-wrapper {
    background-color:$sunshade;
    cursor:pointer;
    position:absolute;
    right:100%;
    top:50%;
    bottom:50%;
    transition:all .8s;
    width:30px;

    .leave-feedback.is-visible & {
      bottom:-1px;
      top:-1px;
    }
  }
  &__link {
    background-color:$sunshade;
    color:$off-black;
    font-size:1rem;
    font-family: $font-family;
    line-height:25px;
    padding:0 5px;
    position:absolute;
    right:140%;
    top:50%;
    -webkit-transform:rotate(-90deg) translate(10%,280%);
    transform:rotate(-90deg) translate(10%,280%);
  }
  &.is-visible &__close {
    border-bottom:none;
    display:block;
    height:15px;
    margin-left:6px;
    margin-top:7px;
    position:relative;
    width:15px;

    &:hover{
      opacity: 0.7;
    }

    &:before, 
    &:after {
      border:none;
      content:''; 
      height:3px; 
      width:1em; 
      display:inline-block; 
      background:$off-black; 
      border-radius:1px;
      position:absolute; 
      top:.5em; 
      left:0; 
      -webkit-transform:rotate(-45deg);
      transform:rotate(-45deg);
    }

    &:after{
      -webkit-transform:rotate(45deg);
      transform:rotate(45deg);
    }
  }
  &__label {
    display:block;
    margin-bottom:10px;
  }
  &__input-field {
    margin-bottom:10px;
    width:100%;
  }
  button {
    clear:both;
    float:right;
  }
}