
// ==========================================================================
// Forms
// ==========================================================================

/* General
   ========================================================================== */

::-webkit-input-placeholder {
   color: $shuttle;
}

:-moz-placeholder { /* Firefox 18- */
   color: $shuttle;
}

::-moz-placeholder { /* Firefox 19+ */
   color: $shuttle;
}

:-ms-input-placeholder {
   color: $shuttle;
}

%select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    background: $mercury;
    outline: none;
    padding: .5em;
    width: 100%;
    height: 40px;
    @include rem( 'font-size', 14px );
    /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {padding-right:18px}
    }
}
input,
textarea {
    color: $shuttle;
    margin: 0 0 1em 0;
    padding: .75em;
    width: 100%;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $chateau;
    @include rem( 'font-size', 13px );
    @include transition( border .15s, box-shadow .15s, background .15s );
}

input[type="text"],
input[type="email"],
textarea {
    background-color: white;
}

input:focus,
textarea:focus {
    border-color: $cerulean;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="submit"],
button[type="submit"] {
    margin: 0;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

select {
    width: 100%;
    display: block;
    background: white;
    padding: .62em 1em;
    border-radius: 2px;
    color: rgba(0,0,0,.87);
    border: 1px solid $chateau;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

button {
    @include transition( all .15s );
}

/**
 * Normalize sets as 'content-box'
 */
input[type="search"] {
    margin: 0;
  @include box-sizing( border-box ); /* 1 */
}

input[type="radio"] {
    width: auto;
    margin-right: .5em;
}

textarea {
}

legend {
   font-weight: 600;
   padding: 0 .5em;
   @include rem( 'font-size', 13px );
   font-family: $font-family-secondary;

   @include mq( tablet, site ) {
       @include rem( 'font-size', 14px );
   }

   @include mq( $from: site ) {
       @include rem( 'font-size', 16px );
   }
}

.form-error {
   color: $error;
   @include rem( 'font-size', 11px );
}

.form--general {

    .form-actions {

        .form-submit {
            @include mq( $until: mobile-landscape ) {
                width: 100%;
                padding: 1.25em 0;
            }
        }
    }
}

.form {
    overflow: hidden;
    input[type="email"],
    input[type="search"] {
        width: auto;
        color: $gray;
        border: none;
        margin-bottom: 0;
        padding: .25em .5em;
        background: $off-white;
        @include rem( 'font-size', 16px );
        @include mq( $from: tablet ) {
            float: left;
            width: 80%;
            min-height: 40px;
            margin-right: .5em;
        }
    }
    button[type="submit"] {
        color: white;
        background-color: $sunshade;
        i {
            @include rem( 'font-size', 24px );
        }
        @include mq( $from: tablet ) {
            min-height: 40px;
            padding: .25em .5em;
        }
        &:hover {
            background: lighten( $sunshade, 10% );
        }
    }
    label {
        font-weight: 600;
        text-transform: uppercase;
        @include rem( 'font-size', 12px );
    }
    select {
        @extend %select;
    }
    .select-wrap {
        position: relative;
    }
    .select-wrap:after {
        content:'';
        color: $sunshade;
        background: url(../img/select-arrow.png) no-repeat;
        display: block;
        width: 8px;
        height: 18px;
        // -webkit-transform:rotate(90deg) translateX(-50%);
        // -moz-transform:rotate(90deg) translateX(-50%);
        // -ms-transform:rotate(90deg) translateX(-50%);
        // transform:rotate(90deg) translateX(-50%);
        right:10%; top:30%;
        line-height: .6;
        padding:0 0 2px;
        position:absolute;
        pointer-events:none;
    }
    .select-wrap:before {
        content:'';
        right:6px; top:0px;
        width:20px; height:20px;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}

.form--homesearch {
    button[type="submit"] {
        width: 100%;
        margin-top: 1.25em;
    }
}

.form--signup {
    input[type="email"] {
        margin: 0;
        width: auto;
        color: white;
        background: darken( $sunshade, 10% );
        @include mq( $from: tablet ) {
            min-height: 48px;
        }
    }
    button[type="submit"] {
        color: $sunshade;
        @extend %white-gradient;
        @include mq( $from: tablet ) {
            min-height: 48px;
            padding: .25em 1.5em;
        }
        &:hover {
            background: white;
        }
    }
}

.form--search {
    border-radius: 4px;
    box-shadow: 0 3px 0px -1px rgba(0, 0, 0, 0.15);

    input[type="search"] {
        border-right: none;
        border-radius: 4px 0 0 4px;
    }

    input[type="submit"] {
        width: 100%;
        color: white;
        display: block;
        padding: .75em;
        text-indent: -9999px;
        border-radius: 0 4px 4px 0;
        border: 1px solid $cerulean;
        background-image: url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $cerulean;
        @include rem( 'font-size', 13px );
        &:hover {
            background-color: lighten( $cerulean, 10% );
            border-color: lighten( $cerulean, 10% );
        }
    }

    .form-item {
        width: 85%;
    }
    .form-actions {
        width: 15%;
    }
    .form-item,
    .form-actions {
        float: left;
    }

    &.form--directory {
        margin-bottom: 1em;
    }
}

.form-item {

}

.form--comments {
    .form-actions {
        @include mq( $from: tablet ) {
            text-align: right;
        }

        input[type="submit"] {
            @include rem( 'font-size', 13px );
        }
    }
}

.form--newsletter {
    @extend %clearfix;

    .form-item,
    .form-actions {
        @include span( 1 of 3 );
        padding-left: .5em;
        padding-right: .5em;
    }

    input {
        margin: 0;
    }

    input[type="submit"] {
        width: 100%;
        @include rem( 'font-size', 13px );
    }

}


// Header search
header {
    .form--search {

        input {
            border-color: white;
            &:focus { 
                border-top-color: white;
                border-left-color: white;
            }
        }
        input[type="submit"] {
            border-left: none;
            border-color: $mercury;
            background-color: $mercury;
            background-image: url(../img/search-icon-blue.png);
            &:hover {
                border-color: darken( $mercury, 5% );
                border-bottom-color: $chateau;
                background-color: darken( $mercury, 5% );
            }
        }
    }
}

// Form Steps
.form__step {
    position: relative;
    margin-bottom: 1.5em;
    @include rem( 'font-size', 18px );

    .btn {
        padding: .75em;
    }

    fieldset {
        padding: 1em;
        position: relative;
        border-radius: 4px;
        border: 1px solid $off-black;

        @include mq( $from: tablet ) {
            min-height: 150px;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;
            border-width: 10px 16px 0 16px;
            border-color: $off-black transparent transparent transparent;
            bottom: -10px; left: 50%;
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    &:last-child fieldset:after {
        display: none;
    }

    .icon--circle {
        padding: 0;
        width: 2em;
        height: 2em;
        line-height: 1.75em;
        text-align: center;
        background: $robin;
        font-family: $font-family-secondary;
    }

    @include mq( $from: mobile-landscape ) {
        text-align: center;
    }

    @include mq( $from: tablet ) {
        text-align: left;
        margin-bottom: 0;

        @include rem( 'font-size', 13px );

        fieldset {
            &:after {
                border-width: 16px 0 16px 10px;
                border-color: transparent transparent transparent $off-black;
                bottom: auto; left: auto;
                top: 50%; right: -10px;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

    }
}
.form__step--header {
    font-weight: 600;
    @include rem( 'font-size', 20px );
    font-family: $font-family-secondary;

    @include mq( tablet, site ) {
        padding: 0;
        @include rem( 'font-size', 14px );
    }

    @include mq( $from: site ) {
        padding: 0 .5em;
        @include rem( 'font-size', 16px );
    }
}

header {
    .search-icon {
        color: white;
        border-radius: 4px;
        text-decoration: none;
        background: $cerulean;
        display: inline-block;

        i {
            font-weight: 600;
        }

        @include mq( $from: tablet ) {
            color: $cerulean;
            margin-top: .5em;
            background: white;
            padding: .25em .5em;
        }

        @include mq( $from: tablet ) {
            display: none;
        }
    }

    @include mq( $until: tablet ) {
        .form--search-wrap {
            float: right;
            margin-right: 5em;
        }

        .search-icon {
            padding: 0;
            width: 64px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            @include rem( 'font-size', 28px );

            &.search-open {
                background: darken( $cerulean, 5% );
            }
        }

        .form--search {
            display: none;
            z-index: 10;
            position: absolute;
            left: 0; top: 96px;
            width: 100%;
            border-radius: 0;
            padding: .5em 3em;
            background-color: rgba(255, 255, 255, 0.9);

            input[type="search"] {
                border: 1px solid $chateau;
                border-right: none;
            }

            input[type="submit"] {
                border: 1px solid $chateau;
                border-left: none;
            }
        }

    }

    @include mq( $until: site ) {
        .form--search-wrap {
            position: static;
        }
    }
}

.form-required {
    padding: .75em .5em;
    color: $pomegranate;
    @include rem( 'font-size', 14px );
}

.form-type-textfield {
    position: relative;

    label {
        font-size: 0;

        .form-required {
            right: 1em;
            position: absolute;
            @include rem( 'font-size', 14px );
        }
    }
}