
// ==========================================================================
// Modules
// ==========================================================================

/* Header
   ========================================================================== */
header {
    padding: 1em 0;
    // background: $cerulean;

    nav {
        line-height: 2;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            display: inline-block;
            margin-left: .5em;
            margin-right: .5em;
        }
        a {
            font-weight: 800;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}


/* Navigation
   ========================================================================== */

.sub__nav--wrap {
    margin-bottom: 1em;
    background: $spruce;
}

.sub__nav {
    margin: 0;
    padding: .5em;
    list-style-type: none;
    li {
        margin: 0 .5em;
        font-weight: 600;
        line-height: 1.6;
        color: $chateau;
        display: inline-block;
        vertical-align: text-top;
        @include rem( 'font-size', 13px );
    }
}

/* Pagination
   ========================================================================== */


/* Pattern Library
   ========================================================================== */

.patterns {
    aside {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a {
            padding: .75em;
            display: block;
            color: $charcoal;
            border-radius: 4px;
            text-decoration: none;
            &:hover {
                background: lighten( $sunshade, 30% );
            }
            &.active {
                color: white;
                background: $sunshade;
            }
        }
    }
}

/* Hero
   ========================================================================== */

// Slideshow

/* Cards
   ========================================================================== */


/* Menu List
   ========================================================================== */


/* Page/Single post
   ========================================================================== */


/* Entry
   ========================================================================== */


/* Social
   ========================================================================== */


/* Footer
   ========================================================================== */



/* Blog
   ========================================================================== */


/* Accordion
   ========================================================================== */
