
// ==========================================================================
// Widgets
// ==========================================================================

/* Widget
   ========================================================================== */

.widget {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }

    ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		@include mq( $from: tablet ) {
			@include rem( 'font-size', 13px );
		}
		&.leaf, &.expanded, &.collapsed {
			margin-left: 15px;
			margin-bottom: .3rem;
			ul.menu {
				margin-top: .3rem;
				margin-bottom: 0;
			}
		}
	}
}

.widget > ul.menu {
	margin-bottom: 2em;
}

.widget__heading {
    margin-top: 0;
    margin-bottom: .4em;
    font-weight: 600;
    @include rem( 'font-size', 16px );
}

// Archives
.widget_archive {
	a {
		color: $gray;
		display: block;
		text-decoration: none;
	}
	.count {
		float: right;
		color: $sunshade;
		text-decoration: underline;
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
}

// Tags
.widget_tag_cloud {
	a {
		color: $spruce;
		background: white;
		border-radius: 2px;
		margin: .3em .25em;
		padding: .5em .75em;
		display: inline-block;
		text-decoration: none;
		box-shadow: 1px 1px 1px -1px $spruce;
		&:hover {
			color: $gray;
			box-shadow: 1px 1px 1px -1px $gray;
		}
	}
}

// Recent Posts
.widget-recent-posts {
	.entry-header {
		a {
			color: $gray;
			text-decoration: none;
		}
	}
	.entry-meta {
		a {
			color: $sunshade;
			text-decoration: underline;
		}
	}
	.entry-content {
		color: $gray;
	}
}

.widget-dropdown {
	position: relative;

	ul {
		margin: 0;
	}

	li:first-child {
		margin-top: 0;
	}

	.menu {
		padding: .75em;
	}

	@include mq( $from: tablet ) {
		&:after {
			font-family: 'icomoon';
			content: "\3e";
			float: right;
			color: $cerulean;
			line-height: 2;
			margin-right: .5em;
		}

		.menu {
			position: absolute;
			width: 100%;
			top: -.5em; left: 100%;
			background: white;
			z-index: 10;
			display: none;
			opacity: 0;
			visibility: hidden;
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			@include transition( opacity .25s );
		}

		&:hover {
			cursor: pointer;

			.menu {
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
	}

}

.backToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	
	> p > a {
		display: none;
		opacity: 0.7;
	}
}